/* primera forma - directamente con el elemento de html */
p {
    color: red;
}

h2 {
    color: aqua;
}

/* segunda forma - por clase */
.clase-h4 {
    color: blue;
}

/* tercera forma - por id */
#parrafo-2 {
    color: darkseagreen;
}